<h3>Edit a User</h3>
<%= form_for @patient, method: :patch, url: user_patient_path(current_user, @patient) do |f| %>
    <%= f.label "Patient Name:"%>
    <%= f.text_field :name %><br>
    <%= f.label "Patient Symptoms:"%>
    <%= f.text_area :symptoms%><br>
    <br>
    <%= f.submit "Submit"%>
<% end %>

<%= button_to "Delete Patient", user_patient_path(current_user, @patient), method: :delete %><br>

