

<h3><%= @patient.name %></h3>
<p>
    Symptoms: <%= @patient.symptoms %><br>
    <br>
    Upcoming Appointment(s): 
    <ul style="list-style-type:none;">
        <% @patient.appointment_times.split("  ").each do |time| %>
            <li><%= time %> </li>
        <% end %>
    </ul>
    
    <br>
    Doctor(s): <ul style="list-style-type:none;">
        <% @patient.doctor_names.split.each do |name| %>
            <li><%= name %> </li>
        <% end %>
    </ul>

</p>

<%= button_to "Edit Patient", edit_user_patient_path(current_user, @patient), method: :get %>

<%= render 'links' %>
