

<h3><%= @patient.name %></h3>
<p>
    Symptoms: <%= @patient.symptoms %><br>
    <br>
    Upcoming Appointment: <%= @patient.appointment_times%><br>
    <br>
    Doctor: <%= @patient.doctor_names%>
</p>

<%= button_to "Edit Patient", edit_user_patient_path(current_user, @patient), method: :get %>

<%= render 'links' %>