<!DOCTYPE html>
<html>
  <head>
    <title>RailsHealthcareProject3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= link_to "Home", root_path%>
    <%= link_to "User Profile", user_profile_path %>
    <br>

    
    <%= yield %>

  <br>

    

    <%= form_tag destroy_user_session_path, method: :delete do %>
    <%= hidden_field_tag :_method, 'delete' %>
    <%= submit_tag "Logout" %>
<% end %>
  </body>
</html>
